<div class="{$class}" id="{$_name}" style="{$style}">

	<div class="teachers-wrapper">
	{rows}{row}
	<div class="teacher">
    	<div class="teacher-thumb {$thumb_class}">
    		{img_wrapper}
        	<img src="{$file}" alt="{$title}" />
        	{/}
        </div>

        <div class="teacher-meta">
        	<h3>{$title}</h3>
            <div>{$description}</div>
        </div>
    </div>
    {/}{/}
	</div>

	<script type="text/javascript">
		$("#{$_name} .teachers-wrapper").owlCarousel({
			loop:true,
			margin:40,
			responsiveClass:true,
			autoplay:true,
			stagePadding:0,
			autoplayTimeout:{$slide_speed},
			autoplayHoverPause: true, // Stops autoplay
			responsive:{
				0:{
					items:1,
					nav:true,
					navText:["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"]
				},
				600:{
					items:3,
					nav:false,
					navText:["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"]
				},
				1000:{
					items:4,
					nav:true,
					navText:["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
					loop:true
				}
			}
		});

		$(document).ready(function() {
			$('#{$_name}.teachers-wrapper  .owl-item').each(function(event){
				if(!$(this).child('.teacher')) $(this).remove();
			});
		});
	</script>
</div>